{% extends "template.html" %}
{% block content %}
<style>
	.block{
	
		border: 1px solid #DDD;
		padding: 6px;
		margin: 10px;
	
	}
	.editable{
		margin: 5px;
		padding: 5px;
		border: 1px solid transparent;
		outline: 0px solid transparent;
	}
	.editable:focus{
		margin: 5px;
		padding: 5px;
		border: 1px solid #DDD;
		outline: 0px solid transparent;
	}

</style>
<div class="row">
	<h1>Management</h1>
</div>
<div class="row">
	<div class="span2">
		<h2>{{title|title}}</h2>
		<p>
		<small>List of routes</small><br>
		<small><button class="btn btn-mini btn-success add"><i class="icon icon-plus"></i></button></small>
		</p>
	</div>
	<div class="span10 routes">
	</div>
</div>
<div class="row" id="instance-row">
	<div class="span2">
		<h2>Instances</h2>
		<small>
			List of Openstack-instances
		</small>
	</div>
	<div class="span8" id="instances">

	</div>
</div>
<div id="route-modal" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <h3>New Route</h3>
  </div>
  <div class="modal-body">
    <p>New route address</p>
	<input type="text" id="route-address">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary set-address">Save changes</a>
  </div>
</div>

	<script type="text/x-handlebars-template" id="route-template">
	</script>

	<script>
	var resolve = [];
		function edited(pt){
			console.log("edited");
			$(pt).closest('.block').attr("edited", "true").find('.save').removeAttr('disabled');
		}
		function testUrl(pt){
			try{
				var url = $(pt).html();
				url = url.split(':');
				url = url[1].replace('//', '');
				//console.log(url);
				if(url in resolve){
					//console.log(resolve[url]);
					$(pt).parent().parent().tooltip('destroy').tooltip({title:resolve[url], placement: 'left', trigger: 'hover focus', delay: 50}).tooltip('show');
					setTimeout(function(){
						$(pt).parent().parent().tooltip('destroy');
					}, 5000);
				}
			}catch(e){
				//do nothing but catch
			}
			var urlPattern = /(http|ftp|https):\/\/[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])?/;
			if(!urlPattern.test($(pt).html())){
				$(pt).closest("tr").addClass("error");
				$(pt).closest('.block').find('.save').attr('disabled', 'true');
			}else{
				$(pt).closest("tr").removeClass("error");
				$(pt).closest('.block').find('.save').removeAttr('disabled');
			}
		}
		Handlebars.registerHelper('title', function(entry){
			return entry.replace(/^frontend:/, "");
		});
		Handlebars.registerHelper('first', function(list){
			return list[0];
		});
		Handlebars.registerHelper('iters', function(context, options){
			var ret = "";
			for(var i=1, j=context.length; i<j; i++){ // >
				ret = ret + options.fn(context[i]);
			}
			return ret;
		});
		var tpl = "";
		$(document).ready(function(){
			$.get("/templates/routes.tpl", function(data){
				tpl = data;
				$.getJSON("/ajax/routes", function(data){
					//console.log(data);
					var template = Handlebars.compile(tpl);
					$(".routes").html(template({data:data}));
				});
			});
			$.getJSON('/ajax/getInstances', function(data){
				var body = $("<tbody></tbody>");
				for (var i = 0; i < data.length; i++) {
					var row = $("<tr></tr>");
					$("<td></td>").html(data[i].name).appendTo(row);
					for (var a = 0; a < data[i].addresses.length; a++) {
						resolve[data[i].addresses[a]] = data[i].name;
					};
					$("<td></td>").html(data[i].addresses.join(', ')).appendTo(row);
					if(data[i].status == 'ACTIVE'){
						status = '<span class="label label-success">ACTIVE</span>';
					}else{
						status = '<span class="label label-danger">'+data[i].status+'</span>';
					}
					$("<td></td>").html(status).appendTo(row);
					body.append(row);
				};
				$("<table></table>").addClass('table table-striped').append($("<thead></thead>").append('<tr><th>Name</th><th>IPs</th><th>Status</th></tr>')).append(body).appendTo('#instances');
				console.log(data);
			}).error(function(){
				$('#instance-row').hide();
			});
		});
		$('.editable').live('input', function(){
			edited(this);
			if($(this).hasClass("frontend-host-item")){
				testUrl(this);
			}
		});
		$(".add-host").live('click', function(){
			var field = $('<tr><td contentEditable="true" class="editable frontend-host-item new">http://</td><td><button class="btn btn-mini btn-danger remove-host"><i class="icon icon-trash"></i></button></td></tr>').appendTo($(this).closest("thead").next()).hide().fadeIn().find('.editable').focus();
			edited(this);
			testUrl(field);
		});
		$(".remove-host").live('click', function(){
			$(this).closest("tr").fadeOut().attr("data-deleted", "true");
			edited(this);
		});
		$(".remove").live('click', function(){
			console.log("Removing...");
			var block = $(this).closest(".block")
			$.post('/ajax/remove', {key:block.attr('data-frontend')}, function(data){
				block.slideUp().attr("data-deleted", "true");
			});
		});
		$(".add").on('click', function(){
			var template = Handlebars.compile(tpl);
			var route = $(template({data:[ {name:"Empty", items:["no_name", "http://"] }] })).appendTo(".routes").hide().slideDown();
			$("#route-modal").modal({keyboard: false});
			$("#route-modal").on('shown', function(){
				$("#route-address").focus();
			});
			
			$(".set-address").click(function(){
				var addr = $('#route-address').val();
				$(route).find('.frontend-title').html(addr);
				$(route).attr('data-frontend', 'frontend:'+addr);
				
				$("#route-modal").modal('hide');
			});
		});
		$('.save').live('click', function(){
			var block = $(this).closest(".block")
			var hosts = [];
			$(block).find(".frontend-host-item").each(function(index){
				console.log($(this).closest('tr').attr('data-deleted'));
				if($(this).closest('tr').attr('data-deleted') != 'true'){
					hosts.push($.trim($(this).text()));
				}
			});
			var data = {route: block.attr('data-frontend'), name: $.trim(block.find('.frontend-name').text()), hosts : hosts}
			$(this).attr("disabled", "true").attr('data-edited', 'false');
			var loader = $('<img src="/images/ajax-loader.gif" alt="loading...">').appendTo(block);
			$.post("/ajax/save", {data: data}, function(res){
				loader.delay(500, function(){
					this.remove();
				});
			});
			//console.log(data);
		});
	</script>

{% endblock content %}
